<div class="container-fluid">
    <h1 class="text-center mt-3">Pokemon API</h1>
    <p class="text-center">API desarrollada para mostrar pokemon desde una base de datos mongo, frontend desarrollado en
        Angular y backend
        en Java con Sringboot</p>
    <div class="d-flex justify-content-center mb-2">
        <input #txtBuscar (keyup.enter)=" buscar()" class="form-control w-25" type="search"
            placeholder="Buscar pokemon..." aria-label="Buscar">
    </div>
    <div class="d-flex justify-content-center mt-3" *ngIf="noResultados">
        <div class="alert alert-primary w-50 text-center" role="alert">
            No se encontro ningun resultado
        </div>
    </div>
    <div class="row">
        <div *ngFor="let pokemon of listadoPokemon | slice:0:10" class="col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
            <div class="card shadow animate__animated animate__fadeIn">
                <img [src]="pokemon.foto" class="card-img-top mb-2" [alt]="pokemon.nombre">
                <div class="card-body text-bg-light text-center">
                    <h5 class="card-title">{{pokemon.nombre | titlecase}}</h5>
                    <p class="card-text">{{pokemon.descripcion}}</p>
                    <a [routerLink]="['/pokemon',pokemon.nombre]" class="btn btn-outline-primary btn-lg">Ver
                        detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>